<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs') %>
  <body>
    <h1>Hello</h1>
    <ul>
      <% console.log(data) %>
      <li><%= data.id %></li>
      <li><%= data.firstname %></li>
      <li><%= data.username %></li>
      <li><%= data.email %></li>
    </ul>
  </body>
</html>
